domaintool_old/
node_modules/
build/
domaintool/lib/*
!domaintool/lib/top-1m_16-06-2022.csv
!domaintool/lib/ip-blocklist-full.txt
!domaintool/lib/exclusions.txt
*.code-workspace
vendor/
conf.js
.env
.DS_Store